/*-------------------------GENERAL----------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
body {
    
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
    
    
}
.gameBoard {
    width:80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 190);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border: 5px solid rgb(255, 175, 26);
    margin-left: 10px;
}
.player-1-panel,
.player-2-panel {
    width: 100%;
    float: left;
    height: 300px;
    padding: 100px;
    
}

/*--------------------PLAYERS---------------------*/
.player-Name-1,
.player-Name-2
 {
    
    font-size: 1em;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    margin-top: -20px;
    margin-bottom: 10px;
    position: relative;
    left: -15%;
}


.player-score-1,
.player-score-2
{
    text-align: left;
    font-size: 1.3em;
    font-weight: 300;
    color: #e96363; 
    margin-left: -5%;
    margin-bottom: 10px;
}
.active { 
    background-color: #f5f2c6;
 }
.active .player-Name-1,
.active .player-Name-2
{
    
     font-weight: 300; 
    }


.active .player-Name-1::after,
.active .player-Name-2::after
 {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: #EB4D4D;
    top: -15px;
    right: -40px;
    
    
}

.player-current-box-1,
.player-current-box-2
{
    background-color: #EB4D4D;
    color: rgb(255, 255, 255);
    width: 100px;
    margin-left:15px;
    padding: 12px;
    margin-bottom: 15px;
    text-align: center;
    margin-left: 20%;
}

.player-score-dice-1,
.player-score-dice-2
{
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 1rem;
    color: #222;
}
.player-score-hold-1,
.player-score-hold-2
{
    font-size: 15px;
    
}
/*------------BUTTON & IMAGES----------------*/

button {
    position: absolute;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}
button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}
i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 12px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: 14px;
    transition: margin 0.3s;
}
.btn-new { top: 5px;
left: 50%;}
.btn-roll { 
    top: 47%;
    left: 20%;
    
    
}
.btn-hold { 
    top:45%;
    left: 90%;
    
}

.face-dice {
    position: absolute;
    left: 50%;
    top: 44%;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
} 
    

.winner { 
    background-color: #f7f7f7;
 }
.winner .player-name { 
    font-weight: 300; color: #EB4D4D;
}

@media screen and (min-width:780px) {
    /*----------------GENERAL-----------------*/

.gameBoard {
    width: 780px;
    border: 15px solid rgb(255, 175, 26);
}
.player-1-panel,
.player-2-panel {
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
  
}
/*--------------------PLAYERS---------------------*/
.player-Name-1,
.player-Name-2
 {
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}
.player-score-1,
.player-score-2
{
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #e96363;
    margin-bottom: 130px;
}

.player-current-box-1,
.player-current-box-2
{
    width: 80%;
    margin: 0 auto;
}

.player-score-hold-1,
.player-score-hold-2
{
    font-size: 30px;
}
/*------------BUTTON & IMAGES----------------*/
button {
    width: 200px;
    font-size: 20px;
    left: 50%;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 22px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: 14px;
    transition: margin 0.3s;
}

.btn-new { top: 45px;}
.btn-roll { top: 403px;
left: 50%;}
.btn-hold { top: 467px;
left: 50%; }

.face-dice {
    position: absolute;
    left: 50%;
    top: 178px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
} 
    

.winner { 
    background-color: #f7f7f7;
 }
.winner .player-name { 
    font-weight: 300; color: #EB4D4D;
}


    
}